.close-button {
	top: 5px;
	right: 5px;
	position: absolute;
	border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.product-detail-container {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
}

.product-detail-container .image-container {
	height: 50%;
	width: 50%;
}

.product-detail-container .image-container img {
	height: 100%;
	width: 100%;
}

.product-detail-container .product-details ul li {
	margin-top: 10px;
}

.product-detail-container .product-details ul {
	list-style-type: none;
}