.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.block-content{
  font-size: 1.1em;
  line-height: 1.6em;
  font-style: italic;
  margin: 3em 0;
  padding-left: 1.8em;
}

.site-title {
  font-family: "museo-sans",serif;
  font-size: 72px;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-family: "ltc-bodoni-175";
  font-size: 36px;
  line-height: 1em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  padding-left: 0px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translatez(0) scale(1,1);
}

.site-title a {
  color: #222;
  line-height: normal;
  text-decoration: none;
}